$bg_main: #F0F0F6;
$blue_d: #0B0556;

$white: #ffffff;
$black: #000000;

$calm: #6897F2;
$error: #EF5755;
$primary: #39C874;
$success: #1AB058;
$yellow: #FFD056;
$warning: #EB9C70;
$warning_text: #A77051;

$grey_1: #6D6F80;
$grey_2: #B7B8BE;
$grey_3: #D6D8DC;
$grey_4: #F0F0F6;
$gray_d: #454C5B;
